<?xml version="1.0" encoding="utf-8"?>
<!--   
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
<!--  
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default" />
          <add name="fileListener" />
        </listeners>
      </source>
    </sources>
    <switches>
	        -->
      <!--    
            Possible values for switches: Off, Error, Warning, Info, Verbose  
                Verbose:    includes Error, Warning, Info, Trace levels  
                Info:       includes Error, Warning, Info levels                  
                Warning:    includes Error, Warning levels       
                Error:      includes Error  levels
        -->      
		<!--  
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Error" />
    </switches>
    <sharedListeners>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="XRMToolingLogs.log" />
      <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="XRMTooling" />
    </sharedListeners>
  </system.diagnostics> 
   -->
  <appSettings>
    <!-- Seguridad   -->
    <!--  <add key="ida:AdfsMetadataEndpoint" value="https://ingresocrm.dynamicsn.bancogalicia.com.ar/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Audience" value="urn:microsoft:userinfo" />
    <add key="Issuer" value="https://ingresocrm.dynamicsn.bancogalicia.com.ar/adfs" />
     -->
    <add key="webpages:Version" value="3.0.0.0" /> 
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <!-- WRAPPER DEFAULT SESSION TIMEOUT   -->
    <add key="CacheSession" value="3" />
    <!-- BUS   -->
    <add key="ModuloAplicativo_IdGalicia" value="Prod-153057" />
    <add key="Identificadores_IdOperacion_idEsquema" value="UUI" />
    <add key="ModuloAplicativo_IdProveedor" value="SMRT" />
    <add key="Origen_Operador_idEsquema" value="LEGAJO" />
    <add key="Origen_Canal" value="SMRT" />
    <add key="Origen_ModuloAplicativo_IdGalicia" value="Prod-153057" />
    <add key="AuthorizationBus" value="" />
    <!-- BUS ALTA CLIENTE-->
    <add key="AC_ModuloAplicativo_And_Canal" value="S2" />
    <add key="AC_OrganizacionInterna_Tipo" value="SU" />
    <add key="AC_OrganizacionInterna_Id" value="999" />
    <!-- POM   -->
    <add key="id_channel" value="sucursal" />
    <add key="client_id" value="SMRT" />
    <add key="AuthorizationPom" value="U01SVDpvZmZpY2U=" />
    <!-- LOGS   -->
    <add key="path_log_active" value="true" />
    <add key="path_log" value="Log\{Date}.json" />
    <add key="path_log_valet_key" value="Log\{Date}.json" />
    <add key="path_log_audit" value="Log\{Date}.json" />
    <add key="path_log_asignacion" value="Log\{Date}.json" />
    <add key="log_size_KB" value="5000000" />
    <!-- SERILOG   -->
    <add key="pathFormatAsignacion" value="Logs\Asignacion\{Date}.json" />
    <add key="pathFormatAuditoria" value="Logs\Auditoria\{Date}.json" />
    <add key="pathFormatGeneral" value="Logs\General\{Date}.json" />  
    <!-- flag que permite procesos compartidos en los archivos, evita el bloqueo del archivo  -->
    <add key="shared" value="true" />
    <!-- intervalo de vaciado completo a disco, valor expresado en segundos -->
    <add key="flushToDiskInterval" value="2" />
    <!-- indicador del tipo para el calculo del tamaño del archivo, expresa BY, KB and MB. Default BY   -->
    <add key="fileSizeLimitBytesType" value="MB" />
    <!-- valor del tamaño del archivo, valor expresado en numero para fileSizeLimitBytesType  -->
    <add key="fileSizeLimitBytes" value="5" />
    <!-- flag de particion de archivo  -->
    <add key="rollOnFileSizeLimit" value="true" />
    <!-- indicador de generacion de archivos 3:Day, 4:Hous, 5:Minutes  -->
    <add key="rollingInterval" value="3" />
    <!-- valor del tamaño de la cola para el subproceso en segundo plano  -->
    <add key="bufferSize" value="10000" />
    <!-- flag de cambio automatica de Async a Sync, evitar perdida de informacion  -->
    <add key="blockWhenFull" value="true" />
    <add key="Application" value="SMART" />
    <add key="Version" value="3.0.0" />
    <!-- COLA MQ INGESTA   -->
    <add key="QueueManagerName" value="CSQD" />
    <add key="ChannelName" value="GALXXXXXM.SVRCONN" />
    <add key="ConnectionName" value="BGAL1(3061)" />
    <add key="IngestaQueueName" value="VC.QUE010.CD2ID" />
    <!-- THUMBPRINT DESA   -->
    <add key="BFF_Thumbprint" value="ae86580a502f2c171f721a35ffe40f2d276c1e26" />
  </appSettings>
  <connectionStrings>
    <!--<add name="CRM" connectionString="Url=https://smartdesa.dynamicsn.bancogalicia.com.ar/smartdesaa; AuthType=IFD;"    />
	<add name="CRM" connectionString="AuthType=ClientSecret;url=https://axxonbank.crm2.dynamics.com;ClientId=69387a3f-22ec-4172-bd2f-a438d32c15d3;ClientSecret=~C~b-MYl46ODTzkyW3A0Wf~UpQYm6595LQ" />
  
-->
    <add name="CRM" connectionString="AuthType=ClientSecret;url=https://abcbank.crm2.dynamics.com;ClientId=69387a3f-22ec-4172-bd2f-a438d32c15d3;ClientSecret=~C~b-MYl46ODTzkyW3A0Wf~UpQYm6595LQ" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />    
<!--
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
-->
    <compilation />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://abcbank.crm2.dynamics.com" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, valetkey, MSCRMCallerID" />
		<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
    <!-- 
		<add name="Allow" value=" POST, PUT, DELETE" />
    -->
      </customHeaders>
    </httpProtocol>
    <!--  <httpProtocol>
      <customHeaders>
        CORS 
    <add name="Access-Control-Allow-Credentials" value="true" />
     <add name="Access-Control-Allow-Headers" value="Content-Type, valetkey, MSCRMCallerID" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <clear />
       <rule name="AddCrossDomainHeader">
                      <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                      <conditions logicalGrouping="MatchAll" trackAllCaptures="true">

                      
                          <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?axxonbank.crm2.dynamics\.com|(.+\.)))" />
                      </conditions>
                      <action type="Rewrite" value="{C:0}" />
                  </rule>           
      </outboundRules>
    </rewrite>
    -->
	<!--
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
	-->
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
        </handlers>
        <modules>
            <remove name="WindowsAuthentication" />
        </modules>
        <applicationInitialization doAppInitAfterRestart="true" />
		 <!-- 
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>    
	-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 9621E0FE-D791-4D43-A7D0-01D15EFD9026-->